ul {
  list-style-type: none;
  color: #003350;
  display: inline-flex;
  justify-content: flex-start;
}

h1 {
  margin: 10px;
}

li {
  margin-right: 10px;
}

.Router {
  text-align: center;
  background-color: #DEB887;
  height: 100px;
  color: #8b3601;
}
